.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #090606;
  color: #ebeaea;
  z-index: 999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar li a:hover {
  background-color: #6c5151;
}

/* Add a class to the navbar when scrolled */
.navbar.scrolled {
  background-color: #0c0808;
  color: #f1e0e0;
}

section {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
font-size: 2em;
}

section:nth-of-type(even) {
background-color: #f4f4f4;
}

section:nth-of-type(odd) {
background-color: #e2e2e2;
}
